<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Add Vehicle</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="form-container">

<h2>Add Vehicle</h2>

<form action="/saveVehicle" method="post">

<input
type="text"
name="ownerName"
placeholder="Owner Name"
required>

<input
type="text"
name="vehicleNumber"
placeholder="Vehicle Number"
required>

<input
type="text"
name="brand"
placeholder="Brand"
required>

<input
type="text"
name="model"
placeholder="Model"
required>

<button type="submit">Save Vehicle</button>

</form>

</div>

</body>

</html>